version: '3.8'

services:
  backend:
    build:
      context: ./backend/backend
      dockerfile: Dockerfile
    container_name: encaps_backend
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://0.0.0.0:5000  # Слушаем все интерфейсы
      - TZ=Europe/Moscow
    ports:
      - "5000:5000"  # Публикуем порт 5000 на хосте
    volumes:
      - ./backend/backend/Reports:/app/Reports  # Монтируем папку с отчетами
      - /etc/localtime:/etc/localtime:ro  # Синхронизируем время
    networks:
      - encaps_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        REACT_APP_API_URL: http://192.168.20.57:5000  # Прямое обращение к API
    container_name: encaps_frontend
    ports:
      - "3000:3000"  # Публикуем порт 3000 на хосте
    depends_on:
      - backend  # Ждем запуска бэкенда
    networks:
      - encaps_network

networks:
  encaps_network:
    driver: bridge

